<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员登录</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/login/style.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/JS/function.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>
<div id="content">
    <img src="__PUBLIC__/Admin/image/bg.jpg" width="100%">
    <div class="login">
        <div class="title">CRQ-我的世界</div>
        <div class="login_content">
            <form>
                <ul>
                    <li>用户名或电子邮件地址：</li>
                    <li><label for="ID"></label><input type="text" name="ID" id="ID" class="input"></li>
                    <li>密码：</li>
                    <li><input type="password" name="password" id="password" class="input"></li>
                    <li><input type="checkbox" value="click">记住登录信息</li>
                    <li><button class="button mouseUp" type="button">登录</button></li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function () {
       $('.button').on('click',function () {
               let ID = $('#ID').val();
               let password = $('#password').val();

               let data = {"ID":ID,"password":password};
               let url = "{:U('Admin/Login/loginAction')}";
               let result = login(url,data);
               console.log(result);
           });
       $('.button').hover(function () {
           $(this).removeClass('mouseUp').addClass('mouseDown');
       },function () {
           $(this).removeClass('mouseDown').addClass('mouseUp');
       });
    });
</script>
